.service_page__container {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}

.service_page__wrapper {
  padding: 20px;
}

.service_page__link a {
  color: black;
  text-decoration: none;
}

.service_page__link {
  margin-top: 16px;
  background: rgb(226 227 228);
  display: inline;
  padding: 4px 8px;
  border-radius: 4px;
  width: fit-content;
}

.service_page__link:hover {
  opacity: .6;
  transition: .3s;
}

.service_page__service {
  margin-top: 40px;
  height: calc(100dvh - 260px);
  display: flex;
  width: 100%;
}

.service {
  display: flex;
  margin: auto 0;
  gap: 40px;
  justify-content: space-between;
  width: 100%;
}

.service__image {
  border-radius: 16px;
}

.service__text {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.service__price {
  margin-top: 30px;
  font-weight: 600;
}

@media print {
  .print_removable {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .service {
    flex-direction: column;
  }

  .service__image {
    width: 100%;
  }
}