.main__container {
  padding: 0 20px;
}

.main__promo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100dvh - 80px);
  max-width: 1000px;
  margin: auto;
}

.promo__link {
  margin-top: 10px;
}

.promo__link a {
  padding: 8px 32px;
  background: #25262B;
  border-radius: 0.25rem;
  color: white;
  text-decoration: none;
}

.promo__link:hover a {
  background: #1A1B1E;
}

@keyframes promo {
  0% {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    border-radius: 50% 20% / 40% 40%;;
  }
  50% {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    border-radius: 50% 30% / 20% 40%;;
  }
  100% {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    border-radius: 50% 20% / 40% 40%;;
  }
}


.promo__image {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  max-width: 320px;
  border-radius: 50% 20% / 40% 40%;;
}

.promo__image {
  animation: promo 6s forwards infinite;
}

@media screen and (max-width: 650px) {
  .main__promo {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
}

.main__services {
  min-height: calc(100dvh - 80px);
  max-width: 1000px;
  margin: 0 auto;
}

.services {
  height: 100%;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.services__heading {
  margin-bottom: 40px;
}

.services__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 8px;
  width: 100%;
}

.services__image {
  width: 100%;
  border-radius: 16px;
  max-height: 350px;
  object-fit: cover;
  height: 100%;
}

.services__item {
  background: rgb(241, 243, 245);
  padding: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.services__description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
}

.services__text {
  margin-top: auto;
}

.services__link a {
  color: black;
  text-decoration: none;
}

.services__link {
  margin-top: 16px;
  background: rgb(226 227 228);
  display: inline;
  padding: 4px 8px;
  float: right;
  border-radius: 4px;
}

.services__price {
  margin-top: 16px;
  display: inline;
  float: left;
}

.services__link:hover {
  opacity: .6;
  transition: .3s;
}

.services__aside {
  position: sticky;
  top: 50%;
  width: 220px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.services__categories {
  width: 100%;
}

@media screen and (max-width: 500px){
  .services {
    flex-direction: column;
  }

  .services__aside {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    min-width: 200px;
  }

  .services__categories {
    margin: 0 auto;
    min-width: 200px;
  }
}

.main__reviews {
  max-width: 1000px;
  margin: 60px auto 60px;
}